/* Цвет основного текста background: #757575; */
/* Вторичный цвет текста background: #212121; */
/* акцент background: #2196F3; */
/* основной цвет фона background: #FFFFFF; */
/* вторичный цвет фона footer main  background: #2F303A; */
/* третичный цвет фона background: #F5F4FA; */

:root {
    --primary-text-color: #757575;
    --title-tex-color: #212121;
    --logo-text-color: #000000;
    --accent-color: #2196F3;
    --primary-bcg-color: #FFFFFF;
    --secondary-bcg-color: #2F303A;
    --tertiary-bck-color: #F5F4FA;
}

body {
    background-color: var(--primary-bcg-color);
    color: var(--primary-text-color);
}

/* header */

/* Logo */

.nav-logo {
    color:  var(--logo-text-color);
}

.nav-logo .logo {
    color: var(--accent-color);
}

/* Navigation */
.site-nav li {
    list-style: none;
}
.site-nav .link {
    color: var(--logo-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

/* Contacts */

.site-cont li {
    list-style: none;
}

.site-cont a {
    color: var(--primary-text-color);
}

.site-cont .link:hover,
.site-cont .link:focus {
    color: var(--accent-color);
}

/* Main index.html */

/* Шапка */

.hero {
    background-color: var(--secondary-bcg-color);
}
.hero-title {
    color: var(--primary-bcg-color);
} 

/* Button */

.button-studio {
    color: var(--primary-bcg-color);
    background-color: var();
}

/* Section */
.section li {
    list-style: none;
}

.section-title {
    color: var(--title-tex-color);
}

/* Advantage */

.advantage-title {
    color: var(--title-tex-color);
}

/* team */

.team {
    background-color: var(--tertiary-bck-color);
}

.team li {
    list-style: none;
}

.team-title {
    color: var(--title-tex-color);
}

.team-name {
    color: var(--title-tex-color);
}

/* footer */

/* logo */

.bottom {
    
    background-color: var(--secondary-bcg-color);
}

.bottom li {
    list-style: none;
}

.bottom-logo {
    color: var(--primary-bcg-color);
}

.bottom-logo .logo {
    color: var(--accent-color);
}

.bottom-street {
    color:var(--primary-bcg-color);
}

.bottom-street:hover,
.bottom-street:focus {
    color: var(--accent-color);
}

.bottom .cont {
    color: rgba(255, 255, 255, 0.6);
}

.bottom .cont:hover,
.bottom .cont:focus {
    color: var(--accent-color);
}

/* Main portfolio.html */

/* Filters */

.filters li {
    list-style: none;
}
 
.filters .link.current {
    color: var(--title-tex-color);
    background-color: var(--tertiary-bck-color);
} 

.filters .link.current:hover,
.filters .link.current:focus {
    color: var(--primary-bcg-color);
    background-color: var(--accent-color);
}

/* Projects */

.project li {
    list-style: none;
}

.project .title {
    color: var(--title-tex-color);
}
